body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0%;
  background-image: url("bg.jpg");
  font-family: 'Lato', sans-serif;
  #header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: white;
  }
  #menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    height: 25px;
    padding: 10px;
    color: lightgray;
    background-color: #373739;
    .menu-items {
      font-family: 'Oswald', sans-serif;
      font-size: 16px;
    }
    .menu-items:hover {
      color: #c95631;
    }
  }
  #cards-parent{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    // background-color: aqua;
    width: 100%;    
    .cards{
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      margin-top: 10px;
      width: 350px;
      height: 350px;
      border: solid 3px white;
      background-color: white;
      .cards-img {
        margin-top: 20px;
        width: 320px;
        height: 60%;
        background-repeat: no-repeat;
        // border: 2px solid lightgray;
      }
      .cards-title a{
        width: 320px;
        height: 15%;
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        color: black;
        text-decoration: none;
        // border: 2px solid lightgray;
      }
      .cards-info {
        width: 320px;
        height: 15%;
        // border: 2px solid lightgray;
      }
    }
    .cards:hover {
      border: solid 3px #ec8c17;
      .cards-title a{
        color: #c95631;
        text-decoration: none;
      }
    }
  }
  #footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    height: 20px;
    padding: 10px;
    margin-top: 10px;
    color: lightgray;
    background-color: #373739;
  }
}