body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-image: url("bg.jpg");
  color: lightseagreen;
  margin: 0%;
  .header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: whitesmoke;
  }
  .grids-parent{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    height: 500px;
    .grid-pairs{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      // border: 1px solid gray;
      width: 800px;
      height: 55%;
      margin-top: 20px;
      margin-bottom: 20px;
      .grids{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 40%;
        height: 100%;
        background-color: whitesmoke;
        .grid-img {
          margin-top: 10px;
          width: 280px;
          height: 55%;
          border: 2px solid lightgray;
        }
        .grid-title {
          width: 280px;
          height: 10%;
          border: 2px solid lightgray;
        }
        .grid-author {
          width: 280px;
          height: 5%;
          border: 2px solid lightgray;
        }
        .grid-content {
          width: 280px;
          height: 20%;
          border: 2px solid lightgray;
        }
      }

    }
  }

}