body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0%;
  background-image: url("bg.jpg");
  font-family: 'Lato', sans-serif;
  .header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: white;
  }
  #cards-parent{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    // background-color: aqua;
    width: 100%;    
    .cards{
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      margin-top: 10px;
      width: 350px;
      height: 350px;
      background-color: white;
      .cards-img {
        margin-top: 20px;
        width: 320px;
        height: 60%;
        background-repeat: no-repeat;
        // border: 2px solid lightgray;
      }
      .cards-title {
        width: 320px;
        height: 15%;
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        // border: 2px solid lightgray;
      }
      .cards-author {
        width: 320px;
        height: 15%;
        // border: 2px solid lightgray;
      }
    }
  }
}