body {
  background-image: url("bg.jpg");
  color: lightseagreen;
  margin: 0%; }
  body .header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 60px;
    background-color: whitesmoke; }
  body .grids-parent {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 500px; }
    body .grids-parent .grid-pairs {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      width: 60%;
      height: 50%;
      margin-top: 20px;
      margin-bottom: 20px; }
      body .grids-parent .grid-pairs .grids {
        width: 40%;
        height: 100%;
        margin-left: 8%;
        background-color: whitesmoke; }
