body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0%;
  background-image: url("bg.jpg");
  font-family: 'Lato', sans-serif; }
  body .header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: white; }
  body .menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    height: 30px;
    padding: 10px;
    color: lightgray;
    background-color: #373739; }
    body .menu .menu-items {
      font-family: 'Oswald', sans-serif;
      font-size: 16px; }
    body .menu .menu-items:hover {
      color: #c95631; }
  body #cards-parent {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%; }
    body #cards-parent .cards {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      margin-top: 10px;
      width: 350px;
      height: 350px;
      border: solid 3px white;
      background-color: white; }
      body #cards-parent .cards .cards-img {
        margin-top: 20px;
        width: 320px;
        height: 60%;
        background-repeat: no-repeat; }
      body #cards-parent .cards .cards-title {
        width: 320px;
        height: 15%;
        font-family: 'Oswald', sans-serif;
        font-size: 20px; }
      body #cards-parent .cards .cards-author {
        width: 320px;
        height: 15%; }
    body #cards-parent .cards:hover {
      border: solid 3px #ec8c17; }
      body #cards-parent .cards:hover .cards-title {
        color: #c95631; }
  body .footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    height: 20px;
    padding: 10px;
    margin-top: 10px;
    color: lightgray;
    background-color: #373739; }
