body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0%;
  background-image: url("bg.jpg");
  font-family: 'Lato', sans-serif; }
  body .header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: whitesmoke; }
  body .grids-parent {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    height: 500px; }
    body .grids-parent .grid-pairs {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      width: 800px;
      height: 55%;
      margin-top: 20px;
      margin-bottom: 20px; }
      body .grids-parent .grid-pairs .grids {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 40%;
        height: 100%;
        background-color: whitesmoke;
        /*
        .grid-author {
          width: 280px;
          height: 5%;
          border: 2px solid lightgray;
        }
        */ }
        body .grids-parent .grid-pairs .grids .grid-img {
          margin-top: 10px;
          width: 280px;
          height: 55%;
          border: 2px solid lightgray; }
        body .grids-parent .grid-pairs .grids .grid-title {
          width: 280px;
          height: 20%;
          border: 2px solid lightgray;
          font-family: 'Oswald', sans-serif;
          font-size: 20px; }
        body .grids-parent .grid-pairs .grids .grid-content {
          width: 280px;
          height: 10%;
          border: 2px solid lightgray; }
